<% layout("layouts/boilerplate") %>
    <h1>
        <%= tree.name %>
    </h1>
    <h2>
        <%= tree.location %>
    </h2>
    <img src="<%=tree.image%>" alt="">
    <p>
        <%= tree.description %>
    </p>
    <div>
        <form action="/trees/<%=tree._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>

    <footer>
        <p><a href="/trees/<%= tree._id %>/edit">Edit</a></p>
        <a href="/trees">All Trees</a>

    </footer>