<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%=tree.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= tree.name %>
                    </h5>
                    <p class="card-text">
                        <%= tree.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= tree.location %>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="/trees/<%= tree._id %>/edit" class="card-link btn btn-info">Edit Tree</a>
                    <form class="d-inline" action="/trees/<%=tree._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>

                </div>
                <div class="card-footer text-muted">
                    <a href="/trees" class="card-link">Back to all Trees</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Leave a Review</h2>
            <form action="/trees/<%=tree._id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for (let review of tree.reviews) {%>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Rating: <%= review.rating %>
                        </h5>
                        <p class="card-text">
                            Review: <%= review.body%>
                        </p>
                    </div>
                    <form action="/trees/<%=tree._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
                <% } %>
        </div>
    </div>